table th.date{
    width: 140px;
}
table th.event{
    padding-right:20px;
}
table th.status{
    width: 120px;
}

table tr:hover{
    background: #f6f6f6;
    cursor: pointer;
}

.event_list{
    padding: 5px;
    margin-bottom: 15px;
}
.account-page-outer{
    padding-top: 200px;
}

.errorlist{
    list-style: none;
    padding: 3px 0;
    margin: 0;
    color: red;
    font-weight: bold;
    font-size: 0.85em;
}
.non-field-errors .errorlist{
    text-align: center;
}

.field-errors .errorlist{
    text-align: right;
}
.leave-button{
    color: red;
}
