{% load i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-3.3.2-dist/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ STATIC_URL }}js/jquery-2.1.1.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
  </head>
  <body>
      <div class="container">
        {% block content %}
        <h1>{% trans "Wellcome to your Agenda" %}</h1>
        <form class="add_event_form" action="." method="post">
        	{% csrf_token %}
        	{{ form.non_field_errors }}
        	<div class="row">
        	    <div class='col-md-6'>
        	        <div class="form-group{% if form.name.errors %} has-error{% endif %}">
                    <input name="name" class="event_name form-control" placeholder="{% trans "The name of your event here" %}" {% if form.name.value %}value="{{ form.name.value }}"{% endif %} />
                      {% if form.name.errors %}
                      <label class="control-label has-error">{{ form.name.errors }}{% endif %}</label>
                </div>
            </div>
            <div class='col-md-4'>
                <div class="form-group{% if form.datetime.errors %} has-error{% endif %}">
                    <div class='input-group date' id='datetimepicker1'>
                     <input name="datetime" class="event_datetime form-control" {% if form.name.value %}value="{{ form.datetime.value }}"{% endif %} />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                     </span>
                    </div>
                   {% if form.datetime.errors %}
                   <label class="control-label">{{ form.datetime.errors }}{% endif %}</label>
               </div>
            </div>
           <div class='col-md-2'>
               <button type="submit" class="btn btn-primary add_button form-control">{% trans "Add" %}</button>
           </div>
       </div>

        </form>
        </div>
        <div class="container">

        <div class="event_list delayed">
            <h4>{% trans "Delayed Jobs" %}</h4>
            <table class="table">
                <tr class="danger">
                {% include "_includes/event_table_header.html" %}
                </tr>
                {% for event in delayed %}
                <tr class="{% cycle "even" event.css_class_by_status %}">
                {% include "_includes/event_list_row.html" %}
                </tr>
                {% empty %}
                <tr class="info">
                    <td colspan="4">{% trans "No delays!" %}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="event_list common">
            <h4>{% trans "Nexts Jobs" %}</h4>
            <table class="table">
                {% include "_includes/event_table_header.html" %}
                {% for event in nexts %}
                <tr class="{% cycle "even" event.css_class_by_status %}">
                {% include "_includes/event_list_row.html" %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">{% trans "No future jobs!" %}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="event_list info">
            <h4>{% trans "Latest Jobs" %}</h4>
            <table class="table">
                {% include "_includes/event_table_header.html" %}
                {% for event in concludeds %}
                {% include "_includes/event_list_row.html" %}
                {% empty %}
                <tr>
                    <td colspan="4">{% trans "No future jobs!" %}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
      {% endblock %}
      </div>

        <script type="text/javascript">
            jQuery(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
  </body>
</html>
