{% load i18n %}<!DOCTYPE html>
<html lang="en" ng-app="Agenda">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-3.3.2-dist/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ STATIC_URL }}js/angular.min.js"></script>
    <script src="{{ STATIC_URL }}js/ngMask.min.js"></script>
    <script src="{{ STATIC_URL }}js/app.js"></script>

    <title>Welcome to your agenda</title>

  </head>
  <body ng-controller="EventsListController">
      <div class="container">
        {% block content %}
        <h1>{% trans "Wellcome to your Agenda" %}</h1>
        	{% csrf_token %}
        	<div class="row">
        	    <div class='col-md-6'>
        	        <div class="form-group">
                    <input name="name" ng-model="event.name" class="event_name form-control" placeholder="{% trans "The name of your event here" %}" />
                </div>
            </div>
            <div class='col-md-2'>
                <div class="form-group">
                    <div class="input-group date">
                     <input name="date" ng-model="event.date" mask="39/19/9999" maxlength="10" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
               </div>
            </div>
            <div class='col-md-2'>
                <div class="form-group">
                    <div class="input-group time">
                     <input name="time" ng-model="event.time" mask="39:69" maxlength="10" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
               </div>
            </div>
           <div class='col-md-2'>
               <button class="btn btn-primary add_button form-control" ng-click="add_event(event)">{% trans "Add" %}</button>
           </div>
       </div>

        </div>
        <div class="container">
            <div class="events">
                <div class="event_list common">
                    <h4>{% trans "Nexts Jobs" %}</h4>
                    <table class="table">
                        <tr class="bg-primary">
                            <th class="date">{% trans "Date" %}</th>
                            <th class="event">{% trans "Event" %}</th>
                            <th class="status text-center">{% trans "Status" %}</th>
                        </tr>
                        <tr ng-repeat="event in next_jobs">
                            <td>
                                {[{ event.datetime_repr }]}
                                <span class="time">
                                {[{ event.datetime_repr }]}
                                </span>
                            </td>
                            <td>
                                <strong>{[{  event.name }]}</strong>
                                {[{ event.comment }]}
                            </td>
                            <td class="text-center">
                                <button class="btn" ng-click="cancel_event(event.id)"><i class="glyphicon glyphicon-remove"></i></button>
                                <button class="btn" ng-click="confirm_event(event.id)"><i class="glyphicon glyphicon-ok"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="event_list delayed">
                    <h4>{% trans "Delayed Jobs" %}</h4>
                    <table class="table">
                        <tr class="danger">
                            <th class="date">{% trans "Date" %}</th>
                            <th class="event">{% trans "Event" %}</th>
                            <th class="status text-center">{% trans "Status" %}</th>
                        </tr>
                        <tr ng-repeat="event in delayed_jobs">
                            <td>
                                {[{ event.datetime_repr }]}
                                <span class="time">
                                {[{ event.datetime_repr }]}
                                </span>
                            </td>
                            <td>
                                <strong>{[{  event.name }]}</strong>
                                {[{ event.comment }]}
                            </td>
                            <td class="text-center">
                                <button class="btn" ng-click="cancel_event(event.id)"><i class="glyphicon glyphicon-remove"></i></button>
                                <button class="btn" ng-click="confirm_event(event.id)"><i class="glyphicon glyphicon-ok"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="event_list info">
                    <h4>{% trans "Latest Jobs" %}</h4>
                    <table class="table">
                        <tr class="bg-info">
                            <th class="date">{% trans "Date" %}</th>
                            <th class="event">{% trans "Event" %}</th>
                        </tr>
                        <tr ng-repeat="event in done_jobs">
                            <td>
                                {[{ event.datetime_repr }]}
                                <span class="time">
                                {[{ event.datetime_repr }]}
                                </span>
                            </td>
                            <td>
                                <strong>{[{  event.name }]}</strong>
                                {[{ event.comment }]}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
      {% endblock %}
      </div>
  </body>
</html>
